
$body-background: #f2f2f2;

$color-blue: #46cbde;
$color-green: #47dbc3;
$color-purple: #e05ee2;
$color-blue-gray: #8e9ab2;

$spacing-unit: 0.0625rem;
$line-thickness: $spacing-unit * 4;

//$mobile-min-width: 321px;
$mobile-min-width: 480px;
$tablet-min-width: 768px;
