{
	"pidfilepath": "~/.gitautodeploy.pid",
	"host": "0.0.0.0",
	"port": 8001,
	"global_deploy": [
		"echo Deploy started!",
		"echo Deploy completed!"
	],
	"repositories":
	[{
		"url": "https://github.com/olipo186/Github-Gitlab-Auto-Deploy.git",
		"branch": "master",
		"path": "~/repositories/Github-Gitlab-Auto-Deploy",
		"deploy": "echo deploying"
	},
	{
		"url": "https://github.com/github/gitignore",
		"path": "~/repositories/gitignore"
	}]
}
