@import '../../variables';

.DateNode {
    position: relative;
    height: 4rem;

    .date {
        $width: 5.5rem;
        background-color: $color-blue-gray;
        border-radius: .3rem;
        font-family: 'Roboto', sans-serif;
        border: $line-thickness solid $body-background;
        width: $width;
        border-radius: .5rem;
        margin: 0;
        color: white;
        font-size: .8rem;
        line-height: 1.4rem;
        text-align: center;
        margin-top: calc(-.7rem - #{$line-thickness});
        background: white;
        color: #666;
        margin: 0 auto;
        
        @media screen and (min-width : $mobile-min-width) {
            position: absolute;
            top: 50%;
            left: calc(92% - #{$width / 2} - #{$line-thickness});
        }
        @media screen and (min-width : $tablet-min-width) {
            left: calc(50% - #{$width / 2} - #{$line-thickness});
        }
    }

    &.first {
        .date {
            top: auto;
            bottom: 0;
        }
    }

    // Horizontal line
    .horizontal-line {
        position: absolute;
        top: 0;
        width: $line-thickness;
        height: 100%;
        background-color: $color-blue-gray;
        content: ' ';
        left: calc(92% - #{$line-thickness / 2});
        display: none;
        @media screen and (min-width : $mobile-min-width) {
            display: block;
        }
        @media screen and (min-width : $tablet-min-width) {
            left: calc(50% - #{$line-thickness / 2});
        }
    }
}
