@import '../../variables';

.EndNode {
    position: relative;
    height: 4rem;

    .date {
        $width: 3rem;
        position: absolute;
        background-color: $color-blue-gray;
        border-radius: .3rem;
        font-family: 'Roboto', sans-serif;
        border: $line-thickness solid $body-background;
        width: $width;
        height: $width;
        border-radius: $width*2;
        left: calc(92% - #{$width / 2} - #{$line-thickness});
        top: 0;
        margin: 0;
        color: white;
        font-size: .7rem;

        @media screen and (min-width : $tablet-min-width) {
            left: calc(50% - #{$width / 2} - #{$line-thickness});
        }
    }

    // Horizontal line
    .horizontal-line {
        position: absolute;
        top: 0;
        width: $line-thickness;
        height: 100%;
        background-color: $color-blue-gray;
        content: ' ';
        left: calc(92% - #{$line-thickness / 2});

        @media screen and (min-width : $tablet-min-width) {
            left: calc(50% - #{$line-thickness / 2});
        }
    }
}
