@import '../../variables';

.EventMessages {

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    
    p {
        margin: 0;
        font-size: .8rem;
        line-height: 1.2rem;
    }
}
