[Unit]
Description=GitAutoDeploy

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/Git-Auto-Deploy/
ExecStart=/opt/Git-Auto-Deploy/GitAutoDeploy.py

[Install]
WantedBy=multi-user.target
